asgiref==3.11.1
Django==6.0.5
django-stubs==6.0.5
django-stubs-ext==6.0.5
djangorestframework==3.17.1
djangorestframework-stubs==3.17.0
djangorestframework_simplejwt==5.5.1
PyJWT==2.13.0
sqlparse==0.5.5
types-PyYAML==6.0.12.20260518
typing_extensions==4.15.0
