amqp==5.3.1
asgiref==3.11.1
billiard==4.2.4
celery==5.4.0
certifi==2026.1.4
cffi==2.0.0
charset-normalizer==3.4.4
click==8.3.2
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
cron-descriptor==1.4.5
cryptography==48.0.0
Django==5.1.15
django-celery-beat==2.7.0
django-celery-results==2.5.1
django-timezone-field==7.2.1
djangorestframework==3.17.1
flower==2.0.1
humanize==4.15.0
idna==3.11
kombu==5.6.2
packaging==26.0
prometheus_client==0.24.1
prompt_toolkit==3.0.52
pycparser==3.0
PyGithub==2.9.1
PyJWT==2.13.0
PyNaCl==1.6.2
python-crontab==3.3.0
python-dateutil==2.9.0.post0
pytz==2026.1.post1
redis==5.2.1
requests==2.31.0
six==1.17.0
sqlparse==0.5.5
tornado==6.5.5
typing_extensions==4.15.0
tzdata==2026.1
tzlocal==5.3.1
urllib3==2.6.3
vine==5.1.0
wcwidth==0.6.0
