<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>Register here</title>
    <link rel='stylesheet' href='main.css'>
</head>
<body>
    <h1>Register</h1>

    <form method='post' action='{% url 'home_register' %}'>
        {% csrf_token %}
        <label for='username'>Username:</label>
        <input type='text' id='username' name='username' required><br><br>

        <label for='password'>Password:</label>
        <input type='password' id='password' name='password' required><br><br>

        <button type='submit'>Register</button>
    </form>

    <footer>
        <p>Already have an account? <a href='{% url 'home_login' %}'>Login here</a>.</p>
    </footer>
</body>
</html>